*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(42,78,104);
}
.card-body{
    border-radius: 15px;

}
form{
    border-radius: 15px;
    background-color: rgb(23, 48, 66) 
}
.form-control:hover{
    background-color: rgb(226, 226, 226);
}
button {
    margin-left: 0;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(189, 189, 189);
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    font-size: 18px;
    color: white;
    background-color: blue;
}